<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<!-- ko foreach: getRegion('before_details') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
<div class="product-item-details">
    <table class="table-items-details">
        <thead>
            <tr>
                <th class="name" colspan="2" data-bind="i18n: 'Product'"></th>
                <th class="qty" data-bind="i18n: 'Quantity'">Quantity</th>
                <th></th>
                <th class="total" data-bind="i18n: 'Subtotal'">Subtotal</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td class="name">
                <div>
                    <span class="product-image">
                        <img data-bind="attr: {'src': getSrc($parent), 'width': getWidth($parent), 'height': getHeight($parent), 'alt': getAlt($parent), 'title': getAlt($parent) }"/>
                    </span>
                    <span class="product-item-name" data-bind="html: getNameUnsanitizedHtml($parent)"></span>
                </div>
            </td>
            <td></td>
            <td class="qty">
                <span class="value" data-bind="text: $parent.qty"></span>
            </td>
            <td></td>
            <td class="total">
                <!-- ko foreach: getRegion('after_details') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!-- /ko -->
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!-- ko foreach: getRegion('item_message') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
